*.suo
*.manifest
*.user
*.pidb
*.DS_Store
*.userprefs
*.cache
*.xap
*.Publish.xml
*.dSYM
[Tt]est[Rr]esults
[Oo]bj
[Oo]utput
[Bb]in
[Cc]lient[Bb]in
[Bb]uild
[Gg]enerated_[Cc]ode
[Ll]og
[Pp]recompiled[Ww]eb
_[Ss]ite