@font-face {
	font-family: OpenSansLight;
	src: url(../fonts/OpenSans-Light-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/OpenSans-Light-webfont.woff) format("woff"), url(../fonts/OpenSans-Light-webfont.ttf) format("truetype"), url(../fonts/OpenSans-Light-webfont.svg#OpenSansLight) format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: OpenSansLightItalic;
	src: url(../fonts/OpenSans-LightItalic-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/OpenSans-LightItalic-webfont.woff) format("woff"), url(../fonts/OpenSans-LightItalic-webfont.ttf) format("truetype"), url(../fonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic) format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: OpenSansRegular;
	src: url(../fonts/OpenSans-Regular-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/OpenSans-Regular-webfont.woff) format("woff"), url(../fonts/OpenSans-Regular-webfont.ttf) format("truetype"), url(../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular) format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: OpenSansItalic;
	src: url(../fonts/OpenSans-Italic-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/OpenSans-Italic-webfont.woff) format("woff"), url(../fonts/OpenSans-Italic-webfont.ttf) format("truetype"), url(../fonts/OpenSans-Italic-webfont.svg#OpenSansItalic) format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: OpenSansSemibold;
	src: url(../fonts/OpenSans-Semibold-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/OpenSans-Semibold-webfont.woff) format("woff"), url(../fonts/OpenSans-Semibold-webfont.ttf) format("truetype"), url(../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold) format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: OpenSansSemiboldItalic;
	src: url(../fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/OpenSans-SemiboldItalic-webfont.woff) format("woff"), url(../fonts/OpenSans-SemiboldItalic-webfont.ttf) format("truetype"), url(../fonts/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic) format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: OpenSansBold;
	src: url(../fonts/OpenSans-Bold-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/OpenSans-Bold-webfont.woff) format("woff"), url(../fonts/OpenSans-Bold-webfont.ttf) format("truetype"), url(../fonts/OpenSans-Bold-webfont.svg#OpenSansBold) format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: OpenSansBoldItalic;
	src: url(../fonts/OpenSans-BoldItalic-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/OpenSans-BoldItalic-webfont.woff) format("woff"), url(../fonts/OpenSans-BoldItalic-webfont.ttf) format("truetype"), url(../fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic) format("svg");
	font-weight: normal;
	font-style: normal;
}
article {
	display: block;
}
aside {
	display: block;
}
details {
	display: block;
}
figcaption {
	display: block;
}
figure {
	display: block;
}
footer {
	display: block;
}
header {
	display: block;
}
hgroup {
	display: block;
}
nav {
	display: block;
}
section {
	display: block;
}
summary {
	display: block;
}
audio {
	display: inline-block;
}
canvas {
	display: inline-block;
}
video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
}
[hidden] {
	display: none;
}
html {
	font-size: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;
}
html {
	font-family: sans-serif;
}
button {
	font-family: sans-serif;
}
input {
	font-family: sans-serif;
}
select {
	font-family: sans-serif;
}
textarea {
	font-family: sans-serif;
}
body {
	margin: 0px;
}
a:focus {
	outline: dotted thin;
}
a:hover {
	outline: 0px;
}
a:active {
	outline: 0px;
}
h1 {
	margin: 0.67em 0px; font-size: 2em;
}
h2 {
	margin: 0.83em 0px; font-size: 1.5em;
}
h3 {
	margin: 1em 0px; font-size: 1.17em;
}
h4 {
	margin: 1.33em 0px; font-size: 1em;
}
h5 {
	margin: 1.67em 0px; font-size: 0.83em;
}
h6 {
	margin: 2.33em 0px; font-size: 0.75em;
}
abbr[title] {
	border-bottom-color: currentColor; border-bottom-width: 1px; border-bottom-style: dotted;
}
b {
	font-weight: bold;
}
strong {
	font-weight: bold;
}
blockquote {
	margin: 1em 40px;
}
dfn {
	font-style: italic;
}
mark {
	background: rgb(255, 255, 0); color: rgb(0, 0, 0);
}
p {
	margin: 1em 0px;
}
pre {
	margin: 1em 0px;
}
pre {
	font-family: monospace, serif; font-size: 1em; _font-family: "courier new", monospace;
}
code {
	font-family: monospace, serif; font-size: 1em; _font-family: "courier new", monospace;
}
kbd {
	font-family: monospace, serif; font-size: 1em; _font-family: "courier new", monospace;
}
samp {
	font-family: monospace, serif; font-size: 1em; _font-family: "courier new", monospace;
}
q {
	quotes: none;
}
q::before {
	content: none;
}
q::after {
	content: none;
}
small {
	font-size: 75%;
}
sub {
	line-height: 0; font-size: 75%; vertical-align: baseline; position: relative;
}
sup {
	line-height: 0; font-size: 75%; vertical-align: baseline; position: relative;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
dl {
	margin: 1em 0px;
}
menu {
	margin: 1em 0px;
}
ol {
	margin: 1em 0px;
}
ul {
	margin: 1em 0px;
}
dd {
	margin: 0px 0px 0px 40px;
}
menu {
	padding: 0px 0px 0px 40px;
}
ol {
	padding: 0px 0px 0px 40px;
}
ul {
	padding: 0px 0px 0px 40px;
}
nav ul {
	list-style: none;
}
nav ol {
	list-style: none;
}
img {
	border: 0px currentColor; -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
	overflow: hidden;
}
figure {
	margin: 0px;
}
form {
	margin: 0px;
}
fieldset {
	margin: 0px 2px; padding: 0.35em 0.62em 0.75em; border: 1px solid rgb(192, 192, 192);
}
legend {
	padding: 0px; border: 0px currentColor; white-space: normal;
}
button {
	margin: 0px; font-size: 100%; vertical-align: baseline;
}
input {
	margin: 0px; font-size: 100%; vertical-align: baseline;
}
select {
	margin: 0px; font-size: 100%; vertical-align: baseline;
}
textarea {
	margin: 0px; font-size: 100%; vertical-align: baseline;
}
button {
	line-height: normal;
}
input {
	line-height: normal;
}
button {
	cursor: pointer; -webkit-appearance: button;
}
input[type='button'] {
	cursor: pointer; -webkit-appearance: button;
}
input[type='reset'] {
	cursor: pointer; -webkit-appearance: button;
}
input[type='submit'] {
	cursor: pointer; -webkit-appearance: button;
}
button[disabled] {
	cursor: default;
}
input[disabled] {
	cursor: default;
}
input[type='checkbox'] {
	padding: 0px; box-sizing: border-box;
}
input[type='radio'] {
	padding: 0px; box-sizing: border-box;
}
input[type='search'] {
	box-sizing: content-box; -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;
}
textarea {
	overflow: auto; vertical-align: top;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
body {
	font: 14px/1.5 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif; margin: 0px; padding: 0px 0px 20px; color: rgb(240, 231, 213); font-size-adjust: none; font-stretch: normal; background-image: none; background-attachment: fixed !important; background-repeat: repeat; background-size: auto; background-origin: padding-box; background-clip: border-box; background-color: rgb(37, 37, 37);
}
h1 {
	margin: 0px 0px 10px; color: rgb(232, 232, 232); font-family: "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: normal;
}
h2 {
	margin: 0px 0px 10px; color: rgb(232, 232, 232); font-family: "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: normal;
}
h3 {
	margin: 0px 0px 10px; color: rgb(232, 232, 232); font-family: "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: normal;
}
h4 {
	margin: 0px 0px 10px; color: rgb(232, 232, 232); font-family: "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: normal;
}
h5 {
	margin: 0px 0px 10px; color: rgb(232, 232, 232); font-family: "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: normal;
}
h6 {
	margin: 0px 0px 10px; color: rgb(232, 232, 232); font-family: "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: normal;
}
p {
	margin: 0px 0px 20px;
}
ul {
	margin: 0px 0px 20px;
}
ol {
	margin: 0px 0px 20px;
}
table {
	margin: 0px 0px 20px;
}
pre {
	margin: 0px 0px 20px;
}
dl {
	margin: 0px 0px 20px;
}
h1 {
	line-height: 1.1;
}
h2 {
	line-height: 1.1;
}
h3 {
	line-height: 1.1;
}
h1 {
	font-size: 28px;
}
h2 {
	font-size: 24px;
}
h4 {
	color: rgb(232, 232, 232);
}
h5 {
	color: rgb(232, 232, 232);
}
h6 {
	color: rgb(232, 232, 232);
}
h3 {
	color: rgb(182, 182, 182); line-height: 24px; font-family: "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif !important; font-size: 18px; font-weight: normal;
}
a {
	color: rgb(255, 204, 0); font-weight: 400; text-decoration: none;
}
a:hover {
	color: rgb(255, 235, 155);
}
a small {
	color: rgb(102, 102, 102); font-size: 11px; margin-top: -0.6em; display: block;
}
ul {
	list-style-image: url("../images/bullet.png");
}
strong {
	font-family: "OpenSansBold", "Helvetica Neue", Helvetica, Arial, sans-serif !important; font-weight: normal;
}
.wrapper {
	margin: 0px auto; padding: 0px 20px; position: relative; max-width: 650px;
}
section img {
	max-width: 100%;
}
blockquote {
	margin: 0px; padding: 0px 0px 0px 20px; font-style: italic; border-left-color: rgb(255, 204, 0); border-left-width: 3px; border-left-style: solid;
}
code {
	margin: 0px 4px; padding: 4px 6px; border-radius: 2px; color: rgb(239, 239, 239); font-family: "Lucida Sans", Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal; font-size: 13px; -moz-border-radius: 2px; -webkit-border-radius: 2px; -o-border-radius: 2px; -ms-border-radius: 2px; -khtml-border-radius: 2px;
}
pre {
	background: rgb(25, 25, 25); padding: 8px 15px; border-radius: 2px; border: 1px solid rgb(18, 18, 18); overflow: auto; overflow-y: hidden; box-shadow: inset 0px 1px 3px rgba(0,0,0,0.3); -moz-border-radius: 2px; -webkit-border-radius: 2px; -o-border-radius: 2px; -ms-border-radius: 2px; -khtml-border-radius: 2px; -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3); -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3); -o-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
}
pre code {
	margin: 0px; padding: 0px; color: rgb(239, 239, 239); text-shadow: 0px 1px 0px #000;
}
table {
	width: 100%; border-collapse: collapse;
}
th {
	padding: 5px 10px; text-align: left; color: rgb(182, 182, 182); font-family: "OpenSansSemibold", "Helvetica Neue", Helvetica, Arial, sans-serif !important; font-weight: normal; border-bottom-color: rgb(67, 67, 67); border-bottom-width: 1px; border-bottom-style: solid;
}
td {
	padding: 5px 10px; text-align: left; border-bottom-color: rgb(67, 67, 67); border-bottom-width: 1px; border-bottom-style: solid;
}
hr {
	background: url("../images/hr.gif") repeat-x center; margin: 0px 0px 20px; border: 0px currentColor; height: 3px;
}
dt {
	color: rgb(240, 231, 213); font-family: "OpenSansSemibold", "Helvetica Neue", Helvetica, Arial, sans-serif !important; font-weight: normal;
}
#header {
	background: url("../images/nav-bg.gif") rgb(53, 53, 53); left: 0px; top: 0px; width: 100%; height: 60px; border-bottom-color: rgb(67, 67, 67); border-bottom-width: 4px; border-bottom-style: solid; position: fixed; z-index: 100; box-shadow: 0px 1px 3px rgba(0,0,0,0.25); -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25); -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25); -o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}
#header nav {
	background: blue; margin: 6px auto; padding: 0px 10px; max-width: 650px;
}
#header nav li {
	list-style: none; color: white; line-height: 50px; font-family: "OpenSansLight", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; display: inline; text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}
#header nav li a {
	padding: 10px 12px; border-radius: 2px; border: 1px solid rgb(93, 145, 11); text-align: center; color: white; line-height: 14px; font-size: 14px; margin-top: 6px; display: inline-block; box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 3px 7px rgba(0,0,0,0.7); background-color: rgb(147, 189, 32); -moz-border-radius: 2px; -webkit-border-radius: 2px; -o-border-radius: 2px; -ms-border-radius: 2px; -khtml-border-radius: 2px; -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7); -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7); -o-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7);
}
#header nav li a:hover {
	border: 1px solid rgb(82, 127, 14); box-shadow: inset 0px 1px 1px rgba(0,0,0,0.2), 0px 1px 0px rgba(0,0,0,0); background-color: rgb(101, 158, 16); -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0); -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0); -o-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0);
}
#header nav li.fork {
	margin-left: 0px; float: left;
}
#header nav li.downloads {
	margin-left: 6px; float: right;
}
#header nav li.title {
	font-size: 11px; margin-right: 10px; float: right;
}
section {
	margin: 70px 0px 20px; padding: 30px 0px 50px; max-width: 650px;
}
section #title {
	margin: 0px 0px 50px; padding: 0px 0px 5px; border: 0px currentColor;
}
section #title h1 {
	text-align: center; line-height: 36px; font-family: "OpenSansLight", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 40px; font-weight: normal;
}
section #title p {
	text-align: center; color: rgb(215, 207, 190); font-family: "OpenSansLight", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 18px; font-weight: normal;
}
section #title .credits {
	color: rgb(105, 105, 105); font-family: "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 11px; font-weight: normal; margin-top: -10px;
}
section #title .left.credits {
	float: left;
}
section #title .right.credits {
	float: right;
}
#title .credits {
	width: 100%; text-align: center; line-height: 30px; display: block;
}
#title .credits .left {
	float: none; display: block;
}
#title .credits .right {
	float: none; display: block;
}
#header {
	margin-top: -20px;
}
section {
	margin-top: 40px;
}
nav {
	display: none;
}
