html {
    background-color: #474747;
}

header.top {
    background-color: #474747;
    border-radius: 0;
}

header.top .container {
    background-color: #000;
    padding: 0.5rem 1rem;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
}

header.top .container nav {
    margin: 0px;
    background-color: #000;
}

a.navbar-brand {
    color: #ffffff !important;
  /*font-size: 1em;*/
}

.middle {
    background-color: #CCC;
}

.middle .container {
    background-color: #FFF;
}

.middle .container .row {
    /*margin-top: 15px;*/
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

.footer {
    background-color: #474747;
}

.footer .container {
    text-align: center;
    background-color: #373737;
    color: #FFF;
    padding-top: 10px;
}

.page-header h1 {
    font-size: 32px;
    font-weight: bold;
}

.post-content h1 {
  font-size: 32px;
  font-weight: bold;
  margin: 21.44px 0px;
}

.post-content h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 19.92px 0px;
}

.post-content h3 {
  font-size: 19px;
  font-weight: bold;
  margin: 18.72px 0px;
}

.post-content h4 {
  font-weight: bold;
  margin: 22.178px 0px;
}

.post-content h5 {
  font-size: 13px;
  font-weight: bold;
  margin: 21.44px 0px;
}

.post-content h6 {
  font-size: 11px;
  font-weight: bold;
  margin: 24.978px 0px;
}

.post-content p {
  margin: 16px 0px;
}

.post-content pre code.hljs {
    background-color: #f7f7f9;
    border-radius: 0.25rem;
}