body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #000;
	background: #FFF;
	font-size: 13px;
	line-height: 1.5;
	margin: 0px;
	padding: 0px;
}

img {
	border: 0;
}

a {
	text-decoration: underline;
	color: #000;
}

	a:hover {
		color: red;
	}

.body-wrapper {
}

.header {
	background-color: #FAFAFA;
}

.blog-title-container {
	padding: 16px;
}

.blog-title {
	font-size: 17pt;
}

.blog-subtitle {
	font-size: 10.5pt;
	color: #999;
}

.navigation-bar {
	background: #F6F6F6;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-width: 1px;
	height: 30px;
	line-height: 30px;
	color: #999;
	padding-left: 15px;
	padding-right: 5px;
	padding-top: 2px;
}

	.navigation-bar ul {
		margin: 0px;
		padding: 0px;
	}

	.navigation-bar li {
		float: left;
		margin-right: 20px;
		font-size: 10.5pt;
		list-style: none;
	}

.main-container {
	/*border: 1px solid black;*/
	margin: 0px 10px 0px 10px;
	background-color: #FFFFFF;
}

.main-content {
	margin-right: 310px;
	padding: 0px 0px 0px 0px;
}

.side-bar {
	position: absolute;
	width: 300px;
	/*border-left: 1px solid #CCC;*/
	border-top-width: 0;
	overflow: hidden;
	padding: 0px 8px 20px 8px;
	top: 120px;
	right: 0px;
}

.box {
	margin: 16px 6px 6px 6px;
	box-shadow: 0px 0px 5px 2px #CCCCCC;
	border: 1px solid #ccc;
}

.box-title {
	text-align: left;
	font-size: 14px;
	padding: 6px;
	background: #F6F6F6;
	border-bottom: 1px solid #ccc;
}

.box-content {
	padding: 12px;
}

.tag-list {
	margin: 0px;
	padding: 0px;
}

.tag-list li {
	display: inline-block;
	margin: 4px;
}

.post-title {
	font-weight: bold;
}

.post-date {
	float: right;
	margin: 0px 4px;
}

.post-comment-count {
	float: right;
	margin: 0px 4px;
}

a.read-more {
	text-decoration: underline;
}

.footer {
	text-align: center;
	padding: 12px;
}

code, .code {
	font-family:Consolas, Monaco, Andale Mono, monospace;
}

#disqus_thread {
	margin: 8px;
}

.box .previous {
	margin: 8px;
	padding: 0px;
	display: inline-block;
	float: left;
}

.disabled {
	color: gray;
}

ul.pages {
	margin: 8px;
	padding: 0px;
	display: inline-block;
	float: center;
}

ul.pages li.page {
	margin: 0px;
	padding: 0px;
	display: inline-block;
}

span.current-page {
	font-stretch: bold;
}

.box .next {
	margin: 8px;
	padding: 0px;
	display: inline-block;
	float: right;
}