html {
	background-color: #474747;
}

.top {
	background-color: #474747;
}

.top .container {
	background-color: #000;
  padding-left: 0px;
  padding-right: 0px;
}

.top .container .navbar {
	margin: 0px;
	background-color: #000;
}

a.navbar-brand {
	color: #ffffff !important;
  /*font-size: 1em;*/
}

.middle {
    background-color: #CCC;
}

.middle .container {
    background-color: #FFF;
}

.middle .container .row {
	margin-top: 15px;
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}

.footer {
	background-color: #474747;
}

.footer .container {
	text-align: center;
	background-color: #373737;
    color: #FFF;
    padding-top: 10px;
}

pre {
	border: 0px solid #cccccc;
}

.page-header h1 {
	font-size: 32px;
	font-weight: bold;
}

.post-content h1 {
  font-size: 32px;
  font-weight: bold;
  margin: 21.44px 0px;
}

.post-content h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 19.92px 0px;
}

.post-content h3 {
  font-size: 19px;
  font-weight: bold;
  margin: 18.72px 0px;
}

.post-content h4 {
  font-weight: bold;
  margin: 22.178px 0px;
}

.post-content h5 {
  font-size: 13px;
  font-weight: bold;
  margin: 21.44px 0px;
}

.post-content h6 {
  font-size: 11px;
  font-weight: bold;
  margin: 24.978px 0px;
}

.post-content p {
  margin: 16px 0px;
}