body {
	padding-top: 40px;
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}

a.navbar-brand {
	color: #ffffff !important;
}

.footer {
	text-align: center;
	padding: 30px 0;
	margin-top: 70px;
	border-top: 1px solid #e5e5e5;
	background-color: #f5f5f5;
}

