<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
	{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
	<title>{{ page.title }}- {{ site.title }}</title>
	<link href="/assets/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="/assets/styles/style2.css" rel="stylesheet" >
	<link rel="shortcut icon" href="/assets/imgs/min32.png">	
</head>
<body>
{% include header.md %}
<div class="middle">
	<div class="container">
		<div class="row">
			<div class="col-md-9">

			<div class="post">

				<div class="page-header">
					<h1>{{ page.title }}</h1>
				</div>

				<div class="post-content">
				{{ content }}
				</div>

				<ul class="pager">
					{% if page.previous %}
					<li class="previous"><a href="{{ page.previous.url }}">&larr; {{ page.previous.title }}</a></li>
					{% else %}
					<li class="previous disabled">
					<a href="#">没有了</a>
					</li>
					{% endif %}
					{% if page.next %}
					<li class="next">
					<a href="{{ page.next.url }}">{{ page.next.title }} &rarr;</a>
					</li>
					{% else %}
					<li class="next disabled">
					<a href="{{ page.next.url }}">没有了</a>
					</li>
					{% endif %}
				</ul>
				
				{% include comment.md %}
			</div>		
			</div>
			<!-- side bar -->
			<div class="col-md-3 hidden-print">
				{% include reading.md %}
				{% include weibo.md %}
				{% include tags.md %}
				{% include recent-post.md %}
			</div>
			<!-- /side bar -->
		</div>
	</div>
</div>

{% include footer.md %}

{% include bootstrap-script.md %}
</body>
</html>