<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
  <title>{{ page.title }} - {{ site.title }}</title>
  {% include tabler.md %}
  {% include common-meta.md %}
  {% include highlight.md %}
  {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
  {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
  {% include gtag.md %}
</head>
<body class="layout-boxed">
<script src="/assets/@tabler/core/js/demo-theme.js"></script>
<div class="page">
{% include header.md %}
<div class="page-wrapper">
  <div class="page-body">
    <div class="container-xl">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card-header">
              <div class="card-title">{{ page.title }}</div>
            </div>
            <div class="card-body markdown">
              {{ content }}
            </div>
          </div>
          <div class="card mt-3">
            <div class="card-body">
              <ul class="pagination">
                {% if page.previous %}
                  <li class="page-item page-prev">
                    <a class="page-link" href="{{ page.previous.url }}">
                      <div class="page-item-subtitle"><i class="icon ti ti-chevron-left"></i>上一篇</div>
                      <div class="page-item-title">{{ page.previous.title }}</div>
                    </a>
                  </li>
                {% else %}
                  <li class="page-item page-prev disabled">
                    <a class="page-link" href="#">
                      <div class="page-item-subtitle"><i class="icon ti ti-chevron-left"></i>上一篇</div>
                      <div class="page-item-title">没有了</div>
                    </a>
                  </li>
                {% endif %}
                  <li class="page-item page-next">
                    <a class="page-link" href="{{ page.next.url }}">
                      <div class="page-item-subtitle">下一篇<i class="icon ti ti-chevron-right"></i></div>
                      <div class="page-item-title">{{ page.next.title }}</div>
                    </a>
                  </li>
                {% if page.next %}
                  <li class="page-item page-next disabled">
                    <a class="page-link" href="#">
                      <div class="page-item-subtitle">下一篇<i class="icon ti ti-chevron-right"></i></div>
                      <div class="page-item-title">没有了</div>
                    </a>
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>
          <div>
            {% include utteranc.md %}
          </div>
        </div>
        <div class="col-md-3 d-print-none">
          {% include tags.md %}
          {% include recent-post.md %}
          {% include flag-counter.md %}
        </div>
      </div>
    </div>
  </div>
  {% include footer.md %}
</div>
</div>
</body>
</html>
