<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
  <title>{{ page.title }} - {{ site.title }}</title>
  {% include common-meta.md %}
  {% include tabler.md %}
  {% include highlight.md %}
  {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
  {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
  {% include gtag.md %}
</head>
<body class="layout-boxed">
<script src="/assets/@tabler/core/js/demo-theme.min.js"></script>
<div class="page">
{% include header.md %}
<div class="page-wrapper">
  <div class="page-body">
    <div class="container-xl">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card-header">
              <div class="card-title">{{ page.title }}</div>
            </div>
            <div class="card-body markdown">
              {{ content }}
            </div>
          </div>
          <div class="d-lg-flex justify-content-lg-start">
            <div class="p-lg-4 p-sm-1">
            {% if page.previous %}
            <a class="btn btn-light btn-sm m-1" href="{{ page.previous.url }}">
              <i class="fa fa-chevron-left" aria-hidden="true"></i>
              {{ page.previous.title }}
            </a>
            {% else %}
            <a class="btn btn-light btn-sm m-1 disabled" href="#">
              <i class="fa fa-chevron-left" aria-hidden="true"></i>
              没有了
            </a>
            {% endif %}
            </div>
            <div class="p-lg-4 p-sm-1 ms-lg-auto">
            {% if page.next %}
            <a class="btn btn-light btn-sm m-1" href="{{ page.next.url }}">
              {{ page.next.title }}
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
            {% else %}
            <a class="btn btn-light btn-sm m-1 disabled" href="{{ page.next.url }}">
              没有了
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
            {% endif %}
            </div>
          </div>
          <div>
            {% include utteranc.md %}
          </div>
        </div>
        <div class="col-md-3 d-print-none">
          {% include tags.md %}
          {% include recent-post.md %}
          {% include flag-counter.md %}
        </div>
      </div>
    </div>
  </div>
  {% include footer.md %}
</div>
</div>
</body>
</html>
