<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
    <title>{{ page.title }}- {{ site.title }}</title>
    {% include common-meta.md %}
    {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    {% include highlight.md %}
</head>
<body>
{% include header.md %}
<div class="middle">
    <div class="container">
        <div class="row" style="padding-top:16px;">
            <div class="col-md-9">

            <div class="post">

                <div class="page-header">
                    <h1>{{ page.title }}</h1>
                </div>

                <div class="post-content">
                {{ content }}
                </div>

                <ul class="pager">
                    {% if page.previous %}
                    <li class="pager-previous"><a href="{{ page.previous.url }}">&larr; {{ page.previous.title }}</a></li>
                    {% else %}
                    <li class="pager-previous disabled">
                    <a href="#">没有了</a>
                    </li>
                    {% endif %}
                    {% if page.next %}
                    <li class="pager-next">
                    <a href="{{ page.next.url }}">{{ page.next.title }} &rarr;</a>
                    </li>
                    {% else %}
                    <li class="pager-next disabled">
                    <a href="{{ page.next.url }}">没有了</a>
                    </li>
                    {% endif %}
                </ul>
                
                {% include comment.md %}
            </div>        
            </div>
            <!-- side bar -->
            <div class="col-md-3 hidden-print">
                {% include reading.md %}
                {% include weibo.md %}
                {% include tags.md %}
                {% include recent-post.md %}
            </div>
            <!-- /side bar -->
        </div>
    </div>
</div>

{% include footer.md %}
{% include bootstrap-script.md %}
</body>
</html>