<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
  <title>{{ page.title }}- {{ site.title }}</title>
  {% include common-meta.md %}
  {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
  {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
  {% include highlight.md %}
</head>
<body>
{% include header.md %}
<div class="middle">
  <div class="container">
    <div class="row" style="padding-top:16px;">
      <div class="col-md-9">

      <div class="post">

        <div class="page-header">
          <h1>{{ page.title }}</h1>
        </div>

        <div class="post-content">
        {{ content }}
        </div>

        <div class="d-lg-flex justify-content-lg-start">
          <div class="p-lg-4 p-sm-1">
          {% if page.previous %}
          <a class="btn btn-light btn-sm m-1" href="{{ page.previous.url }}">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            {{ page.previous.title }}
          </a>
          {% else %}
          <a class="btn btn-light btn-sm m-1 disabled" href="#">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            没有了
          </a>
          {% endif %}
          </div>
          <div class="p-lg-4 p-sm-1 ml-lg-auto">
          {% if page.next %}
          <a class="btn btn-light btn-sm m-1" href="{{ page.next.url }}">
            {{ page.next.title }}
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </a>
          {% else %}
          <a class="btn btn-light btn-sm m-1 disabled" href="{{ page.next.url }}">
            没有了
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </a>
          {% endif %}
          </div>
        </div>

        {% include gitment.md %}
      </div>
      </div>
      <!-- side bar -->
      <div class="col-md-3 hidden-print">
        <!--{% include reading.md %}-->
        {% include weibo.md %}
        {% include tags.md %}
        {% include recent-post.md %}
      </div>
      <!-- /side bar -->
    </div>
  </div>
</div>

{% include footer.md %}
{% include bootstrap-script.md %}
</body>
</html>
